rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to all documents
    // for simplicity during development and for apps without
    // strict user data privacy requirements.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
